<h1>Airbnb Clone</h1>

<% if user_signed_in? %>
  <%= button_to "Logout", destroy_user_session_url, method: :delete %>
    <p>Hi are you looking for a room to book?</p>
  <% else %>
    <%= link_to "Login", new_user_session_url%>
  <% end %>
